* {
  box-sizing: border-box;
}
#root,
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5;
  line-height: 1;
}
.App {
  display: flex;
  justify-content: center;
  /* padding: 11%; */
  align-items: center;
  height: 100vh;
}
.fa-seedling {
  font-size: 4rem;
  color: green;
  position: absolute;
  top: 20%;
  left: 6%;
}
.fa-user,
.fa-unlock-alt {
  position: absolute;
  color: green;
  font-size: 2rem;
  top: 10%;
  left: 4%;
  z-index: 2;
  border-right: 1px solid lightgray;
  padding-right: 4%;
}
.fa-eye-slash {
  position: absolute;
  color: green;
  font-size: 1rem;
  top: 29%;
  right: 10%;
}
.plant-page {
  width: 150%;
  height: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-evenly;
}
.plant-header {
  color: rgb(44, 179, 44);
  width: 5%;
  padding-right: 7%;
}